<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">
	<select id="findBoardTypeList" resultType="AdminVO" parameterType="AdminVO">
		SELECT
			typeid,
			name as typename,
			comment,
			regdate,
			useyn
		FROM cod_boardtypes
		WHERE ptypeid = 0
	</select>
	<update id="addOrgFileData" parameterType="OrgVO">
		UPDATE info_organization SET 
			filecontent = #{fileContent}
		WHERE orgid = #{orgid}
	</update>
	<delete id="delOrg" parameterType="OrgVO">
		DELETE FROM info_organization
		WHERE orgid = #{orgid}
	</delete>
	<select id="findBoardTypes" resultType="AdminVO" parameterType="AdminVO">
		SELECT
			${idname} as id,
			name,
			comment,
			regdate,
			useyn
		FROM ${cod_table}
		WHERE ptypeid = #{ptypeid}
	</select>
	<insert id="addMenu" parameterType="AdminVO">
		INSERT INTO ${cod_table}(
			name,
			comment,
			regdate,
			useyn,
			ptypeid
		) VALUES(
			#{name},
			#{comment},
			NOW(),
			#{useyn},
			#{ptypeid}
		)
	</insert>
	<update id="editMenu" parameterType="AdminVO">
		UPDATE ${cod_table} SET
			name = #{name},
			comment = #{comment},
			useyn = #{useyn}
		WHERE ${idname} = #{id}
	</update>
</mapper>
