<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Image">
<insert id="uploadImageFile" parameterType="ImageVO" useGeneratedKeys="true" keyProperty="fid" keyColumn="fid">
	INSERT INTO attached_files(
		filename,
		filetype,
		filesize,
		content
	)VALUES(
		#{filename},
		#{filetype},
		#{filesize},
		#{fileContent}
	)
</insert>
<select id="loadImage" parameterType="ImageVO" resultType="ImageVO">
	SELECT
		fid,
		filename,
		filetype,
		filesize,
		content as filecontent
	FROM attached_files
	WHERE fid = #{fid}
</select>
</mapper>