<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LogInOut">
<select id="Login" parameterType="LogInOutVO" resultType="LogInOutVO">
	SELECT
		info.userno,
		info.userid,
		info.passwd, 
		info.korname,
		info.email,
		info.gender,
		info.nickname,
		info.birthdate,
		auth.name as authname,
		info.useyn,
		info.authid
	FROM info_userinfo info
	LEFT JOIN cod_userauth auth ON info.authid = auth.authid
	WHERE info.userid = #{userid}
</select>
<insert id="addLoginData" parameterType="LogInOutVO">
	INSERT INTO info_userloginout(
		userno,
		ip,
		useragent,
		regdate,
		successyn
	) VALUES(
		#{userno},
		#{ip},
		#{useragent},
		NOW(),
		#{successyn}
	)
</insert>
</mapper>