<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- example below -->
		<!--  <typeAlias alias="SalesForecastVO" type="infra.office.sales.vo.SalesForecastVO" /> -->
	</typeAliases>
	<!-- 
	<typeHandlers>
		<typeHandler handler="infra.api.util.LocalDateTimeTypeHandler"/>
		<typeHandler handler="infra.api.util.LocalDateTypeHandler"/>
	</typeHandlers>
	 -->
</configuration>