<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="ImageVO" type="kr.madison.common.vo.ImageVO" />
		<typeAlias alias="MainVO" type="kr.madison.main.vo.MainVO" />
		<typeAlias alias="MemberVO" type="kr.madison.member.vo.MemberVO" /> 
		<typeAlias alias="SessionVO" type="kr.madison.common.vo.SessionVO" />
		<typeAlias alias="LogInOutVO" type="kr.madison.common.vo.LogInOutVO" />
		<typeAlias alias="BoardVO" type="kr.madison.board.vo.BoardVO" />
		<typeAlias alias="AboutVO" type="kr.madison.about.vo.AboutVO"/>
		<typeAlias alias="CareerVO" type="kr.madison.career.vo.CareerVO"/>
		<typeAlias alias="AdminVO" type="kr.madison.admin.vo.AdminVO"/>
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="kr.madison.util.LocalDateTimeTypeHandler"/>
		<typeHandler handler="kr.madison.util.LocalDateTypeHandler"/>
	</typeHandlers>
</configuration>
