<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Main">
	<select id="findTopBoardList" parameterType="MainVO" resultType="BoardVO">
		SELECT
			a.brdid,
			a.title,
			b.nickname,
			a.likes,
			CASE WHEN a.regdate > CURDATE()
				THEN DATE_FORMAT(a.regdate, '%H:%i:%s')
				ELSE DATE_FORMAT(a.regdate, '%Y-%m-%d')
			END as regdate
		FROM brd_freeboard a
		LEFT JOIN info_userinfo b ON a.userno = b.userno
		ORDER BY a.likes DESC, a.regdate desc
		LIMIT 15
	</select>
	<select id="findRecentNoticeList" parameterType="MainVO" resultType="AboutVO">
		SELECT
			nid,
			title,
			CASE WHEN regdate > CURDATE()
				THEN DATE_FORMAT(regdate, '%H:%i:%s')
				ELSE DATE_FORMAT(regdate, '%Y-%m-%d')
			END as regdate
		FROM info_notice
		ORDER BY regdate DESC
		LIMIT 5
	</select>
	<select id="findEmployerList" parameterType="MainVO" resultType="CareerVO">
		SELECT
			brdid,
			title,
			CASE WHEN regdate > CURDATE()
				THEN DATE_FORMAT(regdate, '%Y-%m-%d')
				ELSE DATE_FORMAT(regdate, '%Y-%m-%d')
			END as regdate
		FROM brd_employment
		WHERE empid = 1
		ORDER BY brdid DESC
		LIMIT 6
	</select>
	<select id="findEducationList" parameterType="MainVO" resultType="SchoolVO">
		SELECT
			brdid,
			title,
			CASE WHEN regdate > CURDATE()
				THEN DATE_FORMAT(regdate, '%Y-%m-%d')
				ELSE DATE_FORMAT(regdate, '%Y-%m-%d')
			END as regdate
		FROM brd_schoolwork
		WHERE swid = 2
		ORDER BY brdid DESC
		LIMIT 6
	</select>
	<select id="findOrgBoardList" parameterType="MainVO" resultType="OrgVO">
		SELECT
			a.brdid,
			a.title,
			CASE WHEN a.regdate > CURDATE()
				THEN DATE_FORMAT(a.regdate, '%Y-%m-%d')
				ELSE DATE_FORMAT(a.regdate, '%Y-%m-%d')
			END as regdate,
			b.name as orgname
		FROM brd_orgnization a
		LEFT JOIN info_organization b on a.orgid = b.orgid
		ORDER BY brdid DESC
		LIMIT 5
	</select>
	<insert id="addQnABoardData" parameterType="MainVO" useGeneratedKeys="true" keyProperty="brdid" keyColumn="brdid">
		INSERT INTO brd_questions(
			title,
			regdate,
			moddate,
			content,
			userno
		) VALUES(
			#{title},
			NOW(),
			NOW(),
			#{content},
			#{userno}
		)
		<selectKey keyProperty="brdid" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		<!-- File 추가 -->
	</insert>
	<select id="findQnABoardTotalCnt" parameterType="MainVO" resultType="int">
		SELECT
			COUNT(*)
		FROM brd_questions
	</select>
	<select id="findQnABoardList" parameterType="MainVO" resultType="MainVO">
		 SELECT
     	    b.brdid,
      	    b.title,
       	 	CASE WHEN b.regdate > CURDATE()
       	   		THEN DATE_FORMAT(b.regdate, '%H:%i:%s')
         	    ELSE DATE_FORMAT(b.regdate, '%Y-%m-%d')
         	END as regdate,
         	a.nickname as writer,
         	b.count,
         	(SELECT COUNT(*) FROM brd_questions_reply c WHERE c.brdid = b.brdid) as repcount
      		FROM brd_questions b
      		LEFT JOIN info_userinfo a on b.userno = a.userno   
      		WHERE 1=1
      		<if test = "keyword !=null and keyword != ''">
				<if test = "srchType ==1">
					AND b.title LIKE CONCAT('%',#{keyword},'%')
				</if>
				<if test = "srchType ==2">
					AND a.nickname LIKE CONCAT('%',#{keyword},'%')
				</if>
			</if>
      		ORDER BY b.brdid DESC
			LIMIT #{skiprow}, #{pagerow}
	</select>
	<select id="findQnABoardContent" parameterType="MainVO" resultType="MainVO">
		SELECT
			b.brdid,
			b.title,
			DATE_FORMAT(b.regdate, '%Y-%m-%d %H:%i:%s') as regdate,
			b.content,
			a.nickname as writer,
			b.userno,
			b.count
		FROM brd_questions b
		LEFT JOIN info_userinfo a on b.userno = a.userno
		WHERE b.brdid = #{brdid}
	</select>
	<update id="modQnABoardCount" parameterType="MainVO">
		UPDATE brd_questions SET
			count = count + 1
		WHERE brdid = #{brdid}
	</update>
	<insert id="addQnABoardReply" parameterType="MainVO" useGeneratedKeys="true" keyProperty="repid" keyColumn="repid">
		INSERT INTO brd_questions_reply(
			brdid,
			content,
			regdate,
			moddate,
			userno
		)VALUES(
			#{brdid},
			#{repContent},
			NOW(),
			NOW(),
			#{userno}
		)
		<selectKey keyProperty="repid" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<select id="findQnABoardReply" parameterType="MainVO" resultType="MainVO">
		SELECT
			a.repid,
			b.nickname as replier,
			a.content as repContent,
			DATE_FORMAT(a.regdate, '%Y-%m-%d %H:%i:%s') as repRegdate
			FROM brd_questions_reply a
			LEFT JOIN info_userinfo b on a.userno = b.userno
		WHERE a.brdid=#{brdid}
	</select>
	<delete id="deleteQnABoardReply" parameterType="MainVO">
		DELETE FROM
			brd_questions_reply
		WHERE brdid=#{brdid}
	</delete>
	<delete id="deleteQnABoard" parameterType="MainVO">
		DELETE FROM
			brd_questions
		WHERE brdid=#{brdid}
	</delete>
	<update id="modQnABoardContent" parameterType="MainVO">
		UPDATE brd_questions SET
			content = #{content},
			title = #{title},
			moddate = NOW()
		WHERE brdid=#{brdid}
	</update>
</mapper>
