<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Tip">
	<select id="findTipsTotalCnt" parameterType="TipVO" resultType="int">
		SELECT
			COUNT(*)
		FROM brd_extratips a
		LEFT JOIN cod_extratips b ON a.tipid = b.tipid
		LEFT JOIN info_userinfo c ON a.userno = c.userno
		WHERE b.ptypeid = #{ptypeid}
		<if test="keyword != null and keyword != ''">
			<if test="srchType == 1">
				AND a.title LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="srchType == 2">
				AND c.nickname LIKE CONCAT('%',#{keyword},'%')
			</if>
		</if>
		<if test="tipid != null and tipid != 0">
			<if test="srchType == 3">
				AND a.tipid = #{tipid}
			</if>
		</if>
	</select>
	<select id="findTipsList" parameterType="TipVO" resultType="TipVO">
		SELECT
			b.brdid,
			b.tipid,
			d.name as typename,
			b.title,
			CASE WHEN b.regdate > CURDATE()
				THEN DATE_FORMAT(b.regdate, '%H:%i:%s')
				ELSE DATE_FORMAT(b.regdate, '%Y-%m-%d')
			END as regdate,
			a.nickname as writer,
			b.count,
			(SELECT COUNT(*) FROM brd_extratips_likes c WHERE b.brdid = c.brdid AND c.likes = 1) as likes,
			(SELECT COUNT(*) FROM brd_extratips_reply c WHERE c.brdid = b.brdid) as repcount
		FROM brd_extratips b
		LEFT JOIN info_userinfo a on b.userno = a.userno
		LEFT JOIN cod_extratips d on b.tipid = d.tipid	
		WHERE  d.ptypeid = #{ptypeid}
		<if test="keyword != null and keyword != ''">
			<if test="srchType == 1">
				AND b.title LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="srchType == 2">
				AND a.nickname LIKE CONCAT('%',#{keyword},'%')
			</if>
		</if>
		ORDER BY b.brdid DESC
		LIMIT #{skiprow}, #{pagerow}
		<!-- LIMIT #{srow}, #{rows} -->
	</select>
	<select id="findTipsContent" parameterType="TipVO" resultType="TipVO">
		SELECT
			b.brdid,
			b.tipid,
			d.name as typename,
			b.title,
			DATE_FORMAT(b.regdate, '%Y-%m-%d %H:%i:%s') as regdate,
			b.content,
			a.nickname as writer,
			b.userno,
			b.count,
			d.ptypeid,
			(SELECT COUNT(*) FROM brd_extratips_likes c WHERE b.brdid = c.brdid AND c.likes = 1) as likes,
			(SELECT COUNT(*) FROM brd_extratips_likes c WHERE b.brdid = c.brdid AND c.dislikes = 1) as dislikes
		FROM brd_extratips b
		LEFT JOIN info_userinfo a on b.userno = a.userno
		LEFT JOIN cod_extratips d on b.tipid = d.tipid
		WHERE b.brdid = #{brdid}
	</select>
	<insert id="addTipsData" parameterType="TipVO" useGeneratedKeys="true" keyProperty="brdid" keyColumn="brdid">
		INSERT INTO brd_extratips(
			tipid,
			title,
			regdate,
			moddate,
			content,
			userno	
		) VALUES(
			#{tipid},
         	#{title},
         	NOW() - INTERVAL 5 HOUR,
         	NOW() - INTERVAL 5 HOUR,
         	#{content},
         	#{userno}		
		)
		<selectKey keyProperty="brdid" resultType="int" order="AFTER">
         	SELECT LAST_INSERT_ID()
      	</selectKey>
	</insert>
	<select id="getFrtypes" parameterType="TipVO" resultType="TipVO">
		SELECT
			tipid,
			name as typename
		FROM cod_extratips
		WHERE ptypeid = #{ptypeid}
			AND useyn = 'Y'
	</select>
	<insert id="addTipsReply" parameterType="TipVO" useGeneratedKeys="true" keyProperty="repid" keyColumn="repid">
		INSERT INTO brd_extratips_reply(
			brdid,
			content,
			regdate,
			moddate,
			userno,
			prepid
		)VALUES(
			#{brdid},
			#{repContent},
			NOW(),
			NOW(),
			#{userno},
			#{prepid}
		)
		<selectKey keyProperty="repid" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<update id="modTipsCount" parameterType="TipVO">
		UPDATE brd_extratips SET
			count = count + 1
		WHERE brdid = #{brdid}
	</update>
	<select id="checkLikes" parameterType="TipVO" resultType="TipVO">
		SELECT
			id as lid,
			likes,
			dislikes
		FROM brd_extratips_likes
		WHERE userno = #{userno}
			AND brdid = #{brdid}
	</select>
	<insert id="addTipsLikes" parameterType="TipVO">
		INSERT INTO brd_extratips_likes(
			brdid,
			userno,
			likes,
			dislikes
		)VALUES(
			#{brdid},
			#{userno},
			#{likes},
			#{dislikes}
		)
	</insert>
	<update id="modTipsLikes" parameterType="TipVO">
		UPDATE brd_extratips_likes SET
			likes = likes + 1
		WHERE brdid = #{brdid}
			AND userno = #{userno}
	</update>
	<update id="modTipsDislikes" parameterType="TipVO">
		UPDATE brd_extratips_likes SET
			dislikes = dislikes + 1
		WHERE brdid = #{brdid}
			AND userno = #{userno}
	</update>
	<select id="checkRepLikes" parameterType="TipVO" resultType="TipVO">
		SELECT
			id as replid,
			likes as repLikes,
			dislikes as repDislikes
		FROM brd_extratips_reply_likes
		WHERE userno = #{userno}
			AND repid = #{repid}
	</select>
	<insert id="addTipsRepLikes" parameterType="TipVO">
		INSERT INTO brd_extratips_reply_likes(
			repid,
			userno,
			likes,
			dislikes
		)VALUES(
			#{repid},
			#{userno},
			#{repLikes},
			#{repDislikes}
		)
	</insert>
	<update id="modRepLikes" parameterType="TipVO">
		UPDATE brd_extratips_reply_likes SET
			likes = likes + 1
		WHERE repid = #{repid}
			AND userno = #{userno}
	</update>
	<update id="modRepDisLikes" parameterType="TipVO">
		UPDATE brd_extratips_reply_likes SET
			dislikes = dislikes + 1
		WHERE repid = #{repid}
			AND userno = #{userno}
	</update>
	<select id="getReplyCount" parameterType="TipVO" resultType="int">
		SELECT
			COUNT(*)
		FROM brd_extratips_reply
		WHERE brdid = #{brdid}
	</select>
	<select id="findTipsReply" parameterType="TipVO" resultType="TipVO">
		SELECT
			a.repid,
			b.nickname as replier,
			a.userno as replierno,
			a.content as repContent,
			DATE_FORMAT(a.regdate, '%Y-%m-%d %H:%i:%s') as repRegdate,
			(SELECT COUNT(*) FROM brd_extratips_reply_likes c WHERE a.repid = c.repid AND c.likes = 1) as repLikes,
			(SELECT COUNT(*) FROM brd_extratips_reply_likes c WHERE a.repid = c.repid AND c.dislikes = 1) as repDislikes,
			(SELECT COUNT(*) FROM brd_extratips_reply d WHERE a.repid = d.prepid) as comCount
		FROM brd_extratips_reply a
		LEFT JOIN info_userinfo b on a.userno = b.userno
		WHERE a.brdid = #{brdid} AND a.prepid = 0
	</select>
	<update id="modTipsData" parameterType="TipVO">
		UPDATE brd_extratips SET
			content = #{content},
			title = #{title},
			moddate = NOW(),
			tipid = #{tipid}
		WHERE brdid = #{brdid}
	</update>
	<delete id="delTipsBoardData" parameterType="TipVO">
		DELETE FROM brd_extratips
		WHERE brdid = #{brdid}
	</delete>
	<delete id="delTipsBoardReplyData" parameterType="TipVO">
		DELETE FROM brd_extratips_reply
		WHERE brdid = #{brdid}
		<if test="repid != null and repid != ''">
			AND repid = #{repid}
		</if>
	</delete>
	<delete id="delTipsBoardLikes" parameterType="TipVO">
		DELETE FROM brd_extratips_likes
			WHERE brdid = #{brdid}
	</delete>
	<delete id="delTipsBoardReplyLikes" parameterType="TipVO">
		DELETE FROM brd_extratips_reply_likes
			WHERE repid in (SELECT a.repid FROM brd_extratips_reply a WHERE brdid = #{brdid})
	</delete>
	<update id="modTipsBoardReply" parameterType="TipVO">
		UPDATE brd_extratips_reply SET
			content = #{repContent},
			moddate = NOW()
		WHERE repid = #{repid}
	</update>
	<delete id="delTipsBoardReply" parameterType="TipVO">
		DELETE FROM brd_extratips_reply
			WHERE repid = #{repid}
	</delete>
	<select id="findTipsBoardReplyData" parameterType="TipVO" resultType="TipVO">
		SELECT
			repid,
			content as repContent,
			userno,
			prepid
		FROM brd_extratips_reply
		WHERE repid = #{repid}
	</select>
	<select id="getTipsCommentCount" parameterType="TipVO" resultType="TipVO">
		SELECT
			COUNT(*)
		FROM brd_extratips_reply
		WHERE prepid = #{prepid}
	</select>
	<select id="findTipsCommentList" parameterType="TipVO" resultType="TipVO">
		SELECT
			a.repid,
			a.content as repContent,
			b.nickname as replier,
			a.userno as replierno,
			a.prepid,
			DATE_FORMAT(a.moddate, '%Y-%m-%d %H:%i:%s') as repRegdate,
			(SELECT COUNT(*) FROM brd_extratips_reply_likes c WHERE a.repid = c.repid AND c.likes = 1) as repLikes,
			(SELECT COUNT(*) FROM brd_extratips_reply_likes c WHERE a.repid = c.repid AND c.dislikes = 1) as repDislikes
		FROM brd_extratips_reply a
		LEFT JOIN info_userinfo b ON a.userno = b.userno
		WHERE a.prepid = #{prepid}
		ORDER BY a.repid ASC
	</select>
	<update id="undoTipsBoardLikes" parameterType="TipVO">
		UPDATE brd_extratips_likes SET
			likes = likes - 1
		WHERE brdid=#{brdid}
			AND userno =#{userno}
	</update>
	<update id="undoTipsBoardDislikes" parameterType="TipVO">
		UPDATE brd_extratips_likes SET
			dislikes = dislikes - 1
		WHERE brdid = #{brdid}
			AND userno = #{userno}
	</update>
	<update id="undoTipsBoardRepDislikes" parameterType="TipVO">
		UPDATE brd_extratips_reply_likes SET
			dislikes = dislikes - 1
		WHERE repid = #{repid}
			AND userno = #{userno}
	</update>
	<update id="undoTipsBoardRepLikes" parameterType="TipVO">
		UPDATE brd_extratips_reply_likes SET
			likes = likes - 1
		WHERE repid = #{repid}
			AND userno = #{userno}
	</update>
</mapper>