<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<select id="findBoardTotalCnt" parameterType="BoardVO" resultType="int">
		SELECT
			count(*)
		FROM brd_freeboard a
		LEFT JOIN cod_freeboard b ON a.frid = b.frid
		LEFT JOIN info_userinfo c ON a.userno = c.userno
		WHERE b.ptypeid= #{ptypeid}
		<if test="keyword != null and keyword != ''">
			<if test="srchType == 1">
				AND a.title LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="srchType == 2">
				AND c.nickname LIKE CONCAT('%',#{keyword},'%')
			</if>
		</if>
		<if test="frid != null and frid != 0">
			<if test="srchType == 3">
				AND a.frid = #{frid}
			</if>
		</if>
	</select>
 	<select id="findBoardList" parameterType="BoardVO" resultType="BoardVO">
		SELECT
			b.brdid,
			b.frid,
			d.name as typename,
			b.title,
			CASE WHEN b.regdate > CURDATE()
				THEN DATE_FORMAT(b.regdate, '%H:%i:%s')
				ELSE DATE_FORMAT(b.regdate, '%Y-%m-%d')
			END as regdate,
			a.nickname as writer,
			b.count,
			(SELECT COUNT(*) FROM brd_freeboard_likes f WHERE b.brdid = f.brdid and f.likes = 1) as likes,
			(SELECT COUNT(*) FROM brd_freeboard_reply c WHERE c.brdid = b.brdid) as repcount,
			b.chk_anonymous
		FROM brd_freeboard b
		LEFT JOIN info_userinfo a on b.userno = a.userno
		LEFT JOIN cod_freeboard d on b.frid = d.frid
		WHERE 1=1
		<if test="ptypeid != null and ptypeid != ''">
			AND d.ptypeid = #{ptypeid}
		</if>
		<if test="keyword != null and keyword != ''">
			<if test="srchType == 1">
				AND b.title LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="srchType == 2">
				AND a.nickname LIKE CONCAT('%',#{keyword},'%')
			</if>
		</if>
		<if test="frid != null and frid != 0">
			<if test="srchType == 3">
				AND b.frid = #{frid}
			</if>
		</if>
		ORDER BY b.brdid DESC
		LIMIT #{skiprow}, #{pagerow}
		<!-- LIMIT #{srow}, #{rows} -->
	</select>
	<select id="findBoardContent" parameterType="BoardVO" resultType="BoardVO">
		SELECT
			b.brdid,
			b.frid,
			d.name as typename,
			d.ptypeid,
			b.title,
			DATE_FORMAT(b.regdate, '%Y-%m-%d %H:%i:%s') as regdate,
			b.content,
			a.nickname as writer,
			b.userno,
			b.count,
			(SELECT COUNT(*) FROM brd_freeboard_likes c WHERE b.brdid = c.brdid AND c.likes = 1) as likes,
			(SELECT COUNT(*) FROM brd_freeboard_likes c WHERE b.brdid = c.brdid AND c.dislikes = 1) as dislikes,
			b.chk_anonymous
		FROM brd_freeboard b
		LEFT JOIN info_userinfo a on b.userno = a.userno
		LEFT JOIN cod_freeboard d on b.frid = d.frid
		WHERE b.brdid = #{brdid}
	</select>
	<insert id="addBoardData" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="brdid" keyColumn="brdid">
		INSERT INTO brd_freeboard(
			frid,
			title,
			regdate,
			moddate,
			content,
			userno,
			chk_anonymous
		) VALUES(
			#{frid},
			#{title},
			NOW(),
			NOW(),
			#{content},
			#{userno},
			#{chk_anonymous}
		)
		<selectKey keyProperty="brdid" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<insert id="addBoardReply" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="repid" keyColumn="repid">
		INSERT INTO brd_freeboard_reply(
			brdid,
			content,
			regdate,
			moddate,
			userno,
			prepid
		)VALUES(
			#{brdid},
			#{repContent},
			NOW(),
			NOW(),
			#{userno},
			#{prepid}
		)
		<selectKey keyProperty="repid" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<update id="modBoardCount" parameterType="BoardVO">
		UPDATE brd_freeboard SET
			count = count + 1
		WHERE brdid = #{brdid}
	</update>
	<select id="checkLikes" parameterType="BoardVO" resultType="BoardVO">
		SELECT
			id as lid,
			likes,
			dislikes
		FROM brd_freeboard_likes
		WHERE userno = #{userno}
			AND brdid = #{brdid}
	</select>
	<insert id="addBoardLikes" parameterType="BoardVO">
		INSERT INTO brd_freeboard_likes(
			brdid,
			userno,
			likes,
			dislikes
		)VALUES(
			#{brdid},
			#{userno},
			#{likes},
			#{dislikes}
		)
	</insert>
	<update id="modBoardLikes" parameterType="BoardVO">
		UPDATE brd_freeboard_likes SET
			likes = likes + 1
		WHERE brdid = #{brdid}
			AND userno = #{userno}
	</update>
	<update id="modBoardDislikes" parameterType="BoardVO">
		UPDATE brd_freeboard_likes SET
			dislikes = dislikes + 1
		WHERE brdid = #{brdid}
			AND userno = #{userno}
	</update>
	<select id="checkRepLikes" parameterType="BoardVO" resultType="BoardVO">
		SELECT
			id as replid,
			likes as repLikes,
			dislikes as repDislikes
		FROM brd_freeboard_reply_likes
		WHERE userno = #{userno}
			AND repid = #{repid}
	</select>
	<insert id="addBoardRepLikes" parameterType="BoardVO">
		INSERT INTO brd_freeboard_reply_likes(
			repid,
			userno,
			likes,
			dislikes
		)VALUES(
			#{repid},
			#{userno},
			#{repLikes},
			#{repDislikes}
		)
	</insert>
	<update id="modRepLikes" parameterType="BoardVO">
		UPDATE brd_freeboard_reply_likes SET
			likes = likes + 1
		WHERE repid = #{repid}
			AND userno = #{userno}
	</update>
	<update id="modRepDislikes" parameterType="BoardVO">
		UPDATE brd_freeboard_reply_likes SET
			dislikes = dislikes + 1
		WHERE repid = #{repid}
			AND userno = #{userno}
	</update>
	<select id="getReplyCount" parameterType="BoardVO" resultType="int">
		SELECT
			COUNT(*)
		FROM brd_freeboard_reply
		WHERE brdid = #{brdid}
	</select>
	<select id="findBoardReply" parameterType="BoardVO" resultType="BoardVO">
		SELECT
			a.repid,
			b.nickname as replier,
			a.userno as replierno,
			a.content as repContent,
			DATE_FORMAT(a.regdate, '%Y-%m-%d %H:%i:%s') as repRegdate,
			(SELECT COUNT(*) FROM brd_freeboard_reply_likes c WHERE a.repid = c.repid AND c.likes = 1) as repLikes,
			(SELECT COUNT(*) FROM brd_freeboard_reply_likes c WHERE a.repid = c.repid AND c.dislikes = 1) as repDislikes,
			(SELECT COUNT(*) FROM brd_freeboard_reply d WHERE a.repid = d.prepid) as comCount
		FROM brd_freeboard_reply a
		LEFT JOIN info_userinfo b on a.userno = b.userno
		WHERE a.brdid = #{brdid} AND a.prepid = 0
	</select>
	<update id="modBoardData" parameterType="BoardVO">
		UPDATE brd_freeboard SET
			content = #{content},
			title = #{title},
			moddate = NOW(),
			frid = #{frid}
		WHERE brdid = #{brdid}
	</update>
	<select id="getFrtypes" parameterType="BoardVO" resultType="BoardVO">
		SELECT
			frid,
			name as typename
		FROM cod_freeboard
		WHERE ptypeid = #{ptypeid}
	</select>
	<delete id="delBoardData" parameterType="BoardVO">
		DELETE FROM brd_freeboard
		WHERE brdid = #{brdid}
	</delete>
	<delete id="delBoardReplyData" parameterType="BoardVO">
		DELETE FROM brd_freeboard_reply
		WHERE brdid = #{brdid}
		<if test="repid != null and repid != ''">
			AND repid = #{repid}
		</if>
	</delete>
	<delete id="delBoardLikes" parameterType="BoardVO">
		DELETE FROM brd_freeboard_likes
			WHERE brdid = #{brdid}
	</delete>
	<delete id="delBoardReplyLikes" parameterType="BoardVO">
		DELETE FROM brd_freeboard_reply_likes
			WHERE repid in (SELECT a.repid FROM brd_freeboard_reply a WHERE brdid = #{brdid})
	</delete>
	<update id="modBoardReply" parameterType="BoardVO">
		UPDATE brd_freeboard_reply SET
			content = #{repContent},
			moddate = NOW()
		WHERE repid = #{repid}
	</update>
	<delete id="delBoardReply" parameterType="BoardVO">
		DELETE FROM brd_freeboard_reply
			WHERE repid = #{repid}
	</delete>
	<select id="findBoardReplyData" parameterType="BoardVO" resultType="BoardVO">
		SELECT
			repid,
			content as repContent,
			userno,
			prepid
		FROM brd_freeboard_reply
		WHERE repid = #{repid}
	</select>
	<select id="getCommentCount" parameterType="BoardVO" resultType="BoardVO">
		SELECT
			COUNT(*)
		FROM brd_freeboard_reply
		WHERE prepid = #{prepid}
	</select>
	<select id="findCommentList" parameterType="BoardVO" resultType="BoardVO">
		SELECT
			a.repid,
			a.content as repContent,
			b.nickname as replier,
			a.userno as replierno,
			a.prepid,
			DATE_FORMAT(a.moddate, '%Y-%m-%d %H:%i:%s') as repRegdate,
			(SELECT COUNT(*) FROM brd_freeboard_reply_likes c WHERE a.repid = c.repid AND c.likes = 1) as repLikes,
			(SELECT COUNT(*) FROM brd_freeboard_reply_likes c WHERE a.repid = c.repid AND c.dislikes = 1) as repDislikes
		FROM brd_freeboard_reply a
		LEFT JOIN info_userinfo b ON a.userno = b.userno
		WHERE a.prepid = #{prepid}
		ORDER BY a.repid ASC
	</select>
</mapper>
