<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Org">
	<select id="findOrgListData" resultType="OrgVO" parameterType="OrgVO">
		SELECT
			a.orgid,
			a.name as orgname,
			a.comment,
			(SELECT korname FROM info_userinfo c WHERE a.prno = c.userno) as prname,
			(SELECT korname FROM info_userinfo c WHERE a.vprno1 = c.userno) as vprname1,
			(SELECT korname FROM info_userinfo c WHERE a.vprno2 = c.userno) as vprname2,
			b.name as orgtype,
			a.filecontent as fileContent
		FROM info_organization a
		LEFT JOIN cod_orgtype b ON a.orgtypeid = b.orgtypeid
		WHERE a.orgtypeid = #{orgtypeid}
	</select>
	<select id="loadOrgImage" resultType="OrgVO" parameterType="OrgVO">
		SELECT
			filecontent as fileContent
		FROM info_organization
		WHERE orgid = #{orgid}
	</select>
	<select id="findMyOrgList" resultType="OrgVO" parameterType="OrgVO">
		SELECT
			a.orgid,
			a.name as orgname,
			a.comment,
			(SELECT korname FROM info_userinfo c WHERE a.prno = c.userno) AS prname,
			(SELECT korname FROM info_userinfo c WHERE a.vprno1 = c.userno) as vprname1,
			(SELECT korname FROM info_userinfo c WHERE a.vprno2 = c.userno) as vprname2,
			b.name as orgtype,
			a.filecontent as fileContent
		FROM info_organization a
		LEFT JOIN cod_orgtype b ON a.orgtypeid = b.orgtypeid
		WHERE a.prno= #{userno}
		ORDER BY a.orgtypeid ASC;
	</select>
	<select id="getMyOrgData" resultType="OrgVO" parameterType="OrgVO">
		SELECT
			a.orgid,
			a.name as orgname,
			a.comment,
			a.prno,
			a.vprno1,
			a.vprno2,
			(SELECT korname FROM info_userinfo c WHERE a.prno = c.userno) AS prname,
			(SELECT korname FROM info_userinfo c WHERE a.vprno1 = c.userno) as vprname1,
			(SELECT korname FROM info_userinfo c WHERE a.vprno2 = c.userno) as vprname2,
			b.name as orgtype,
			a.filecontent as fileContent
		FROM info_organization a
		LEFT JOIN cod_orgtype b ON a.orgtypeid = b.orgtypeid
		WHERE orgid = #{orgid}
	</select>
	<select id="getMyOrgDetails" resultType="OrgVO" parameterType="OrgVO">
		SELECT
			a.orgid,
			b.name AS orgname,
			c.name AS orgtype,
			a.details,
			DATE_FORMAT(a.regdate, '%Y-%m-%d') AS regdate,
			DATE_FORMAT(a.moddate, '%Y-%m-%d') AS moddate,
			a.userno,
			(SELECT korname FROM info_userinfo c WHERE a.userno = c.userno) AS writer,
			(SELECT korname FROM info_userinfo c WHERE b.prno = c.userno) AS prname,
			(SELECT korname FROM info_userinfo c WHERE b.vprno1 = c.userno) as vprname1,
			(SELECT korname FROM info_userinfo c WHERE b.vprno2 = c.userno) as vprname2
		FROM info_organization_detail a
		LEFT JOIN info_organization b ON a.orgid = b.orgid
		LEFT JOIN cod_orgtype c ON b.orgtypeid = c.orgtypeid
		WHERE a.orgid = #{orgid}
	</select>
	<update id="modMyOrgData" parameterType="OrgVO">
		UPDATE info_organization SET
			name = #{orgname},
			comment = #{comment},
			moddate = NOW(),
			prno = #{prno},
			vprno1 = #{vprno1},
			vprno2 = #{vprno2}
		WHERE orgid = #{orgid}
	</update>
	<insert id="addMyOrgDetail" parameterType="OrgVO">
		INSERT INTO info_organization_detail(
			orgid,
			details,
			regdate,
			moddate,
			userno
		) VALUES(
			#{orgid},
			#{details},
			NOW(),
			NOW(),
			#{userno}
		) 
	</insert>
	<update id="modMyOrgDetail" parameterType="OrgVO">
		UPDATE info_organization_detail SET
			orgid = #{orgid},
			details = #{details},
			moddate = NOW(),
			userno = #{userno}
		WHERE orgid = #{orgid}
	</update>
	<select id="findOrgList" resultType="OrgVO" parameterType="OrgVO">
		SELECT
			a.orgid,
			a.name as orgname,
			a.comment,
			DATE_FORMAT(a.regdate, '%Y-%m-%d') as regdate,
			a.moddate,
			a.prno,
			(SELECT korname FROM info_userinfo c WHERE a.prno = c.userno) AS prname,
			a.vprno1,
			a.vprno2,
			(SELECT korname FROM info_userinfo c WHERE a.vprno1 = c.userno) as vprname1,
			(SELECT korname FROM info_userinfo c WHERE a.vprno2 = c.userno) as vprname2,
			b.name as orgtype,
			a.orgtypeid,
			b.useyn,
			a.filecontent,
			d.authid
		FROM info_organization a
		LEFT JOIN cod_orgtype b on a.orgtypeid = b.orgtypeid
		LEFT JOIN info_userinfo d ON a.prno = d.userno
		ORDER BY b.orgtypeid ASC, a.regdate DESC
	</select>
	<select id="getOrgCount" resultType="int" parameterType="OrgVO">
		SELECT
			COUNT(*)
		FROM info_organization
	</select>
	<select id="getOrgData" resultType="OrgVO" parameterType="OrgVO">
		SELECT
			a.orgid,
			a.name as orgname,
			a.comment,
			DATE_FORMAT(a.regdate, '%Y-%m-%d') as regdate,
			a.moddate,
			a.prno,
			(SELECT korname FROM info_userinfo c WHERE a.prno = c.userno) AS prname,
			a.vprno1,
			a.vprno2,
			(SELECT korname FROM info_userinfo c WHERE a.vprno1 = c.userno) as vprname1,
			(SELECT korname FROM info_userinfo c WHERE a.vprno2 = c.userno) as vprname2,
			b.name as orgtype,
			b.useyn,
			c.details,
			a.filecontent,
			d.authid
		FROM info_organization a
		LEFT JOIN cod_orgtype b ON a.orgtypeid = b.orgtypeid
		LEFT JOIN info_organization_detail c ON a.orgid = c.orgid
		LEFT JOIN info_userinfo d ON a.prno = d.userno
		WHERE a.orgid = #{orgid}
	</select>
	<insert id="addOrgData" parameterType="OrgVO" useGeneratedKeys="true" keyProperty="orgid" keyColumn="orgid">
		INSERT INTO info_organization(
			name,
			comment,
			regdate,
			moddate,
			prno,
			vprno1,
			vprno2,
			orgtypeid
		) VALUES(
			#{orgname},
			#{comment},
			NOW(),
			NOW(),
			#{prno},
			#{vprno1},
			#{vprno2},
			#{orgtypeid}
		)
		<selectKey keyProperty="orgid" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<update id="editOrgData" parameterType="OrgVO">
		UPDATE info_organization SET
			name = #{name},
			comment = #{comment},
			moddate = NOW(),
			prno = #{prno},
			vprno1 = #{vprno1},
			vprno2 = #{vprno2}
		WHERE orgid = #{orgid}
	</update>
	<delete id="delOrgData" parameterType="OrgVO">
		DELETE FROM info_organization
			WHERE orgid = #{orgid}
	</delete>
	<select id="findOrgBoardTotalCnt" parameterType="OrgVO" resultType="int">
		SELECT
			COUNT(*)
		FROM brd_orgnization a
		LEFT JOIN info_organization b on a.orgid = b.orgid
		WHERE b.orgtypeid = #{orgtypeid}
	</select>
	<select id="findOrgBoardList" parameterType="OrgVO" resultType="OrgVO">
		SELECT
			a.brdid,
			a.orgid,
			b.name as orgname,
			b.orgtypeid,
			a.title,
			CASE WHEN b.regdate > CURDATE()
				THEN DATE_FORMAT(a.regdate, '%H:%i:%s')
				ELSE DATE_FORMAT(a.regdate, '%Y-%m-%d')
			END as regdate,
			c.korname,
			a.count,
			(SELECT COUNT(*) FROM brd_orgnization_likes f WHERE a.brdid = f.brdid and f.likes = 1) as likes,
			(SELECT COUNT(*) FROM brd_orgnization_reply d WHERE d.brdid = a.brdid) as repcount
		FROM brd_orgnization a
		LEFT JOIN info_organization b on a.orgid = b.orgid
		LEFT JOIN info_userinfo c on a.userno = c.userno
		WHERE b.orgtypeid = #{orgtypeid}
		<if test="keyword != null and keyword != ''">
			<if test="srchType == 1">
				AND a.title LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="srchType == 2">
				AND c.nickname LIKE CONCAT('%',#{keyword},'%')
			</if>
		</if>
		ORDER BY a.brdid DESC
		LIMIT #{skiprow}, #{pagerow}
	</select>
	<select id="getOrgBoardData" parameterType="OrgVO" resultType="OrgVO">
		SELECT
			a.brdid,
			a.orgid,
			b.name as orgname,
			b.orgtypeid,
			a.content,
			DATE_FORMAT(a.regdate, '%Y-%m-%d %H:%i:%s') as regdate,
			a.title,
			a.userno,
			c.korname,
			a.count,
			(SELECT COUNT(*) FROM brd_orgnization_likes f WHERE a.brdid = f.brdid and f.likes = 1) as likes
		FROM brd_orgnization a
		LEFT JOIN info_organization b on a.orgid = b.orgid
		LEFT JOIN info_userinfo c on a.userno = c.userno
		WHERE a.brdid = #{brdid}
		<if test="orgtypeid != null and orgtypeid != ''">
			AND b.orgtypeid = #{orgtypeid}
		</if>
	</select>
	<insert id="addOrgBoardData" parameterType="OrgVO" useGeneratedKeys="true" keyProperty="brdid" keyColumn="brdid">
		INSERT INTO brd_orgnization(
			orgid,
			title,
			regdate,
			moddate,
			content,
			userno
		) VALUES(
			#{orgid},
			#{title},
			NOW(),
			NOW(),
			#{content},
			#{userno}
		)
		<selectKey keyProperty="brdid" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<insert id="addOrgBoardReply" parameterType="OrgVO" useGeneratedKeys="true" keyProperty="repid" keyColumn="repid">
		INSERT INTO brd_orgnization_reply(
			brdid,
			content,
			regdate,
			moddate,
			userno,
			prepid
		)VALUES(
			#{brdid},
			#{repContent},
			NOW(),
			NOW(),
			#{userno},
			#{prepid}
		)
		<selectKey keyProperty="repid" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<update id="modOrgBoardCount" parameterType="OrgVO">
		UPDATE brd_orgnization SET
			count = count + 1
		WHERE brdid = #{brdid}
	</update>
	<select id="checkLikes" parameterType="OrgVO" resultType="OrgVO">
		SELECT
			id as lid,
			likes
		FROM brd_orgnization_likes
		WHERE userno = #{userno}
			AND brdid = #{brdid}
	</select>
	<insert id="addOrgBoardLikes" parameterType="OrgVO">
		INSERT INTO brd_orgnization_likes(
			brdid,
			userno,
			likes
		)VALUES(
			#{brdid},
			#{userno},
			#{likes}
		)
	</insert>
	<update id="modOrgBoardLikes" parameterType="OrgVO">
		UPDATE brd_orgnization_likes SET
			likes = likes + 1
		WHERE brdid = #{brdid}
			AND userno = #{userno}
	</update>
	<select id="checkRepLikes" parameterType="OrgVO" resultType="OrgVO">
		SELECT
			id as replid,
			likes as repLikes,
			dislikes as repDislikes
		FROM brd_orgnization_reply_likes
		WHERE userno = #{userno}
			AND repid = #{repid}
	</select>
	<insert id="addBoardRepLikes" parameterType="OrgVO">
		INSERT INTO brd_orgnization_reply_likes(
			repid,
			userno,
			likes,
			dislikes
		)VALUES(
			#{repid},
			#{userno},
			#{repLikes},
			#{repDislikes}
		)
	</insert>
	<update id="modOrgRepLikes" parameterType="OrgVO">
		UPDATE brd_orgnization_reply_likes SET
			likes = likes + 1
		WHERE repid = #{repid}
			AND userno = #{userno}
	</update>
	<update id="modOrgRepDisLikes" parameterType="OrgVO">
		UPDATE brd_orgnization_reply_likes SET
			dislikes = dislikes + 1
		WHERE repid = #{repid}
			AND userno = #{userno}
	</update>
	<select id="getOrgReplyCount" parameterType="OrgVO" resultType="int">
		SELECT
			COUNT(*)
		FROM brd_orgnization_reply
		WHERE brdid = #{brdid}
	</select>
	<select id="findOrgBoardReply" parameterType="OrgVO" resultType="OrgVO">
		SELECT
			a.repid,
			b.korname as replier,
			a.userno as replierno,
			a.content as repContent,
			DATE_FORMAT(a.regdate, '%Y-%m-%d %H:%i:%s') as repRegdate,
			(SELECT COUNT(*) FROM brd_orgnization_reply_likes c WHERE a.repid = c.repid AND c.likes = 1) as repLikes,
			(SELECT COUNT(*) FROM brd_orgnization_reply_likes c WHERE a.repid = c.repid AND c.dislikes = 1) as repDislikes,
			(SELECT COUNT(*) FROM brd_orgnization_reply d WHERE a.repid = d.prepid) as comCount
		FROM brd_orgnization_reply a
		LEFT JOIN info_userinfo b on a.userno = b.userno
		WHERE a.brdid = #{brdid}
			AND a.prepid = 0
	</select>
	<update id="modOrgPrAuth" parameterType="OrgVO">
		UPDATE info_userinfo SET
			authid = 2
		WHERE userno = #{prno}
	</update>
	<update id="modOrgOldPrAuth" parameterType="OrgVO">
		UPDATE info_userinfo SET
			authid = 5
		WHERE userno = #{oldprno}
	</update>
	<select id="getImage" parameterType="OrgVO" resultType="OrgVO">
		SELECT
			orgid,
			filecontent
		FROM info_organization
		WHERE orgid = #{orgid}
	</select>
	<delete id="delBoardLikes" parameterType="OrgVO">
		DELETE FROM brd_orgnization_likes
			WHERE brdid = #{brdid}
	</delete>
	<delete id="delBoardReplyLikes" parameterType="OrgVO">
		DELETE FROM brd_orgnization_reply_likes
			WHERE repid in (SELECT a.repid FROM brd_orgnization_reply a WHERE brdid = #{brdid})
	</delete>
	<update id="modBoardReply" parameterType="OrgVO">
		UPDATE brd_orgnization_reply SET
			content = #{repContent},
			moddate = NOW()
		WHERE repid = #{repid}
	</update>
	<delete id="delBoardReply" parameterType="OrgVO">
		DELETE FROM brd_orgnization_reply
			WHERE repid = #{repid}
	</delete>
	<select id="findBoardReplyData" parameterType="OrgVO" resultType="OrgVO">
		SELECT
			repid,
			content as repContent,
			userno,
			prepid
		FROM brd_orgnization_reply
		WHERE repid = #{repid}
	</select>
	<select id="getCommentCount" parameterType="OrgVO" resultType="OrgVO">
		SELECT
			COUNT(*)
		FROM brd_orgnization_reply
		WHERE prepid = #{prepid}
	</select>
	<select id="findCommentList" parameterType="OrgVO" resultType="OrgVO">
		SELECT
			a.repid,
			a.content as repContent,
			b.nickname as replier,
			a.userno as replierno,
			a.prepid,
			DATE_FORMAT(a.moddate, '%Y-%m-%d %H:%i:%s') as repRegdate,
			(SELECT COUNT(*) FROM brd_orgnization_reply_likes c WHERE a.repid = c.repid AND c.likes = 1) as repLikes,
			(SELECT COUNT(*) FROM brd_orgnization_reply_likes c WHERE a.repid = c.repid AND c.dislikes = 1) as repDislikes
		FROM brd_orgnization_reply a
		LEFT JOIN info_userinfo b ON a.userno = b.userno
		WHERE a.prepid = #{prepid}
		ORDER BY a.repid ASC
	</select>
	<update id="undoBoardLikes" parameterType="OrgVO">
		UPDATE brd_orgnization_likes SET
			likes = likes - 1
		WHERE brdid=#{brdid}
			AND userno =#{userno}
	</update>
	<update id="undoBoardDislikes" parameterType="OrgVO">
		UPDATE brd_orgnization_likes SET
			dislikes = dislikes - 1
		WHERE brdid = #{brdid}
			AND userno = #{userno}
	</update>
	<update id="undoBoardRepDislikes" parameterType="OrgVO">
		UPDATE brd_orgnization_reply_likes SET
			dislikes = dislikes - 1
		WHERE repid = #{repid}
			AND userno = #{userno}
	</update>
	<update id="undoBoardRepLikes" parameterType="OrgVO">
		UPDATE brd_orgnization_reply_likes SET
			likes = likes - 1
		WHERE repid = #{repid}
			AND userno = #{userno}
	</update>
	<delete id="delOrgBoardData" parameterType="OrgVO">
		DELETE FROM brd_orgnization
			WHERE brdid= #{brdid}
	</delete>
</mapper>
