<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
	
<mapper namespace="About">
	<select id="findNoticeTotalCnt" parameterType="AboutVO" resultType="int">
		SELECT 
			COUNT(*)
		FROM info_notice
	
	</select>
	<select id="listNotice" parameterType="AboutVO" resultType="AboutVO">
		SELECT 
			b.nid, 
			b.title, 
			CASE WHEN b.regdate > CURDATE()
				THEN DATE_FORMAT(b.regdate, '%H:%i:%s')
				ELSE DATE_FORMAT(b.regdate, '%Y-%m-%d')
			END as regdate,
			b.count,
			b.likes,  
			a.nickname as writer
		FROM info_notice b
		LEFT JOIN info_userinfo a on b.userno = a.userno
		ORDER BY b.nid DESC
		LIMIT #{skiprow}, #{pagerow}
	</select>
	<select id="viewNotice" parameterType="AboutVO" resultType="AboutVO">
		SELECT 
			b.nid,
			b.title,
			b.regdate,
			b.content,
			a.nickname as writer,
			b.userno,
			b.count,
			b.likes
			<!-- File 셀렉트 하는것 필요 -->
		FROM info_notice b
		LEFT JOIN info_userinfo a on b.userno = a.userno
		WHERE b.nid = #{nid}
	</select>
	<insert id="addNewNotice" parameterType="AboutVO">
		INSERT INTO info_notice(
			title, 
			regdate,
			moddate,
			content,
			userno
		) VALUES(
			#{title},
			NOW(),
			NOW(),
			#{content},
			#{userno}
		)
		<selectKey keyProperty="nid" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		<!-- File 추가 -->
	</insert>
	<update id="modNoticeCount" parameterType="AboutVO">
		UPDATE info_notice SET
			count = count+1
		WHERE nid=#{nid}
	</update>
	<delete id="deleteNotice">
		delete from to_be_delete_notice where idNum=#{param1}
	</delete>

<!-- 
About bean
	<beans:bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<beans:property name="dataSource" ref="dataSource"></beans:property>
		<beans:property name = "mapperLocations" value="classpath:/kr/madison/about/dao/*.xml"></beans:property>
	</beans:bean>
	
	<beans:bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<beans:constructor-arg index="0" ref="sqlSessionFactory"></beans:constructor-arg>
	</beans:bean>
 -->
</mapper>

