@CHARSET "UTF-8";
body{margin:0;padding:0;background-color:#f7f7f7;}
.container {position:relative; width:1280px !important; padding:0px; margin-left:auto; margin-right:auto;}
.row {
  margin-right:auto;
  margin-left:auto;
  width:1080px;
}
.note-btn{
	color:black;
	background-color:white;
	font-size:10px;
}
.top_nav{
	/* background-image:url('/images/sample_carousel_3.jpg'); */
	background-size:cover;
	background-repeat:no-repeat;
	/* opacity:0.5; */
	width:100%;
}
.navbar{
	padding-left:15px;
	padding-right:15px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:5px;
	width:1080px;
}
.navbar-header{
	width:15%;
	text-align : center;
	padding-top: 15px;
}
.navbar-brand{
	float:none;
}
.body_top{
	height:300px;
	border-radius:3em;
	border:1px black solid;
}
.body_bot{
	margin-top:5px;
	height:350px;
}
#carousel_div{
	width:70%;
	margin:15px 2% 15px 2%;
}
.carousel{
	height:270px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	height:270px;
	width:100%;
	border-radius:3em;
}
#myCarousel>.carousel-control{
	border-radius:2em;
}
.main_body{
	width:100%;
	overflow:hidden;
	disply:inline-block;
	float:left;
}
#login{
	width:calc(100% - 5px);
}
#bot_left{
	width:20%;
	height:100%;
}
#bot_mid{
	width:calc(60% - 6px);
	height:100%;
	margin-left: 3px;
	margin-right: 3px;
}
#bot_right{
	width:20%;
	height:100%;
}
#top_right{
	width:25%;
	height:100%;
}

input[type="text"],
input[type="password"]{
	height:25px;
	line-height:25px;
	border:1px solid #bfbfbf !important;
	border-color: #bfbfbf !important;
	text-align: left !important;
	margin-bottom: 5px;
	margin-top: 5px;
}

/* top post test */
#top_post{
	height:calc(100% - 3px);
	width:100%;
}
#top_post>tbody>tr>th, #top_post>tbody>tr>td{
	border: 1px solid black;
}
#mid_table{
	width:100%;
}
#mid_table>tbody>tr>th, #mid_table>tbody>tr>td{
	border: 1px solid black;
}
#new_face{
	height:calc(100% - 3px);
	width:calc(100% - 3px);
}
#new_face>tbody>tr>th, #new_face>tbody>tr>td{
	border: 1px solid black;
}
textarea{
	text-align:left;
	overflow:auto;
	height:60px;
	resize:none;
}
#board_name{
margin-top:15px;
text-align:left;
font-size:14px;
height:150px;
width:100%;
border-radius:3em;
border:1px solid #cacaca;
background-color:white;
}
.pagination {width:100%; float:left; text-align:center;}
.pagination strong,
.pagination a {display:inline-block; height:21px; line-height:21px; padding:0 8px; overflow:hidden; text-align:center; color:#666; border:1px solid #cacaca;}
.pagination a:hover {background-color:#f5f5f5; color:#df2428;}
.pagination strong {font-weight:normal; background-color:#df2428; color:#fff;}
.pagination .first,
.pagination .prev,
.pagination .next,
.pagination .last {text-indent:-9999em; *text-indent:0; *font-size:0; *line-height:21px; background-repeat:no-repeat; background-position:center center;}
.pagination .first {padding:0 11px; background-image:url(/images/icon/icon_pg-first.png);}
.pagination .prev {background-image:url(/images/icon/icon_pg-prev.png);}
.pagination .next {background-image:url(/images/icon/icon_pg-next.png);}
.pagination .last {padding:0 11px; background-image:url(/images/icon/icon_pg-last.png);}
.pagination .total {float:right; margin-left:-70px; margin-top:5px; margin-right:10px; color:#666; font-weight:bold;}
/* footer */
#footer {display:block;clear:both;position:relative;}
#footer .container { position:relative;  width:80%; margin-top:70px;  border-top:1px solid #cacaca; margin-bottom:20px; margin-left:auto; margin-right:auto;}
#footer .container .contents { width:100; margin-left:auto; margin-right:auto;}
#footer .container .contents .info { margin-top:14px; float:left; margin-left:25px; color:#666666; font-size:12px;}
#footer .container .contents .info  .txt {margin-top:17px; margin-bottom:11px; }
#footer .box { text-align:center; margin-top:4px; margin-right:3px; border:1px solid #cacaca; width:90px; padding-bottom:2px;}

.page-info {float:left; margin-top:-1px; width:100%; height:100px; min-height:76px;}
.page-info .icon { width:110px; margin:10px 0 0 15px; float:left;}
.page-info .title { width:850px; float:left; font-size:15px; font-weight:bold; color:#666666; margin:16px 5px; word-break:break-all;}
.page-info .title .expl {font-size:12px; font-weight:normal; margin-top:10px;}
/* label */
label {
display:inline-flex;
margin-bottom:0px;
}
